{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

<body>
    <div class="unit-row-outer">
        <div class="unit-converter">
            <h2 class="text-danger">Unit Converter</h2>
            <div class="stuff">
                 <div class="field grid-50-50">
                    <div class="column">
                        <div class="select">
                            <select id="converter" name="converter" class="selectpicker converter">
                                <option disabled selected value> -- select an option -- </option>
                                <option value = "CURR">Currency</option>
                                <option value = "TIME">Time</option>
                                <option value = "DISTANCE">Distance</option>
                                <option value = "MASS">Mass</option>
                                <option value = "TEMP">Temperature</option>
                                <option value = "FREQ">Frequency</option>
                            </select>
                        </div>
                    </div>

                </div>
                    <div class="field grid-50-50">
                        <div class="column col-left">
                            <input type="number" class="form-input" id="input" autocomplete="off">
                        </div>
                        <div class="column col-right">
                            <div class="select">
                                <select id="unit-in" name="unit" class="selectpicker" data-live-search="true">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field grid-50-50">
                        <div class="column col-left">
                            <input type="text" class="form-input" id="output" disabled>
                        </div>
                        <div class="column col-right">
                            <div class="select">
                                <select id="unit-out" name="unit" class="selectpicker" data-live-search="true">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field grid-50-50">
                        <div class="column col-left">
                            <button id="convert" type="button" class="btn btn-success">Convert</button>
                        </div>
                        <div class="column col-right">
                            <button id="switch" type="button" class="btn btn-danger">
                                <img src="static/swap.png" height="20">

                            </button>
                        </div>
                    </div>
            </div>

        </div>
    </div>
</body>
{% endblock %}
